<div class="article">
    <main class="white-sheet">
        <div class="post">
            <img class="post__image" src="{{image}}">
            <div class="post__category">{{category}}</div>
            <div class="post__date">{{date}}</div>
            <div class="post__title">{{title}}</div>
            <div class="post__separator"></div>
            <div class="post__subtitle">{{subtitle}}</div>
            <div class="post__text">{{text}}
            </div>
            <div class="post__read">Read more</div>
            <div class="post__hashtag">
                {{#each hashtages}}
                    <div class="post__hashtag__one">{{this}}</div>
                {{/each}}
            </div>
        </div>
    </main>
</div>
